<div class="card shadow-sm bg-white m-3">
  <div class="container">
    <h2 class="m-3">Add list</h2>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
